<!DOCTYPE html>
{% load filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <form method="POST" class="uniForm">
        {% csrf_token %}
        <h1>{{form}}</h1>
        <input name="do" id="" class="btn btn-primary" type="submit" value="DO">
    </form>
    {% if result %}
        <h1>Answer is {{result}}</h1>
    {% endif %} -->
    add = {{val1|addition:val2}}
    sub = {{val1|subtraction:val2}}
    mul = {{val1|multiplication:val2}}
    div = {{val1|divide:val2}}
    
</body>
</html>